.todo-input {
    padding: 10px;
    font-size: 1rem;
    margin-right: 1rem;
    width: 80%;



}

.todo-form {
    width: 60%;
}

.todo-form-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
}



.add-button {
    padding: 10px;
    font-size: 1rem;
    background-color: green;
    color: white;
}

.ok-logo {
    width: 40px;
    margin: 10px;
    cursor: pointer;
}

.todoText {

    max-width: 25rem;
    max-height: 100%;
    word-wrap: break-word;


}

.todo-list {

    align-items: center;

    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    overflow: auto;

}

.todo-logo {

    border: 3px solid red;
    display: flex;
    justify-content: flex-end;
}



.todo-list-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.clear-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-button {
    padding: 10px;
    font-size: 1rem;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.logo {
    width: 1.8rem;
    margin-left: .5rem;
    cursor: pointer;
}